<%attr>
  title => 'About'
</%attr>

<h2>About OpenXPKI</h2>
<p>
  The OpenXPKI Project aims at creating an enterprise-grade
  PKI/Trustcenter software supporting well established infrastructure 
  components like RDBMS and Hardware Security Modules. Flexibility and
  modularity are the project's key design objectives.
</p>
<p>
  Unlike many other OpenSource PKI projects OpenXPKI offers powerful features
  necessary for professional environments that are usually
  only found in commercial grade PKI products.<br/> 
  However, we also target
  small scale installations by providing quick-start configuration examples
  that allow to get a usable PKI running quickly.
</p>
<p>
  
</p>

<dl>
<dt>Architecture White Paper available</dt>
<dd>The OpenXPKI Team has compiled a White Paper on the architecture 
  and key features of the OpenXPKI software. The paper is 
  <a href="docs/OpenXPKI-Architecture-Overview.pdf">available 
    as a PDF Document here</a> and outlines the architecture of the
  system. Development follows the concepts described there closely.
</dd>
</dl>

<h2>The project</h2>
<p>
  The development infrastructure is hosted at SourceForge.net
  <a href="<& /lib/url.mas, 
	   host => 'sf.net',
	   path => '/projects/openxpki/' &>">
    http://sf.net/projects/openxpki/</a> - you will find 
  mailing lists, repository, bug tracker, etc. there.
</p>
<h2>History</h2>
<p>
  OpenXPKI originally started as a fork of OpenCA in October 2005 driven 
  by the former OpenCA developers, but quickly turned out to be a complete
  redesign.
</p>
<p>
  This web site still contains references to the original OpenCA 
  software and - as we continue to maintain the current 0.9.2 branch 
  regarding security fixes - this may not change in the near future.
</p>
<p>
Historically OpenCA was hosted on a web site 
              <a href="<& /lib/url.mas, 
                       host => 'www.openca.org',
                       path => '/' &>">
              www.openca.org</a>.<br/>
Later, a new web site 
              <a href="<& /lib/url.mas, 
                       host => 'www.openca.info',
                       path => '/' &>">
              www.openca.info</a>
was established. Today, it is just a link to the site which you are reading. 
We are providing limited legacy support for the OpenCA project 
(see <a href="<& /lib/url.mas,
          path => '/legacy/index.html' &>">OpenCA Legacy Support</a> section). 
</p>

