<%args>
    $type => undef
    $id   => undef
    $msg  => undef
    $activities => undef
    $details    => undef
</%args>
<h1><% i18nGettext ('I18N_OPENXPKI_CLIENT_HTML_MASON_WORKFLOW_SHOW_INSTANCE_TITLE', '__ID__' => $msg->{PARAMS}->{WORKFLOW}->{ID}, '__STATE__' => $msg->{PARAMS}->{WORKFLOW}->{STATE}) %></h1>
<div>
    <!-- 
<% Dumper $msg->{PARAMS} %>
    -->
<div class="floatbox" style="width: 30%">
    <hr/>
<p class="title"><% i18nGettext ('I18N_OPENXPKI_CLIENT_HTML_MASON_WORKFLOW_SHOW_INSTANCE_ACTIVITIES') %></p>
<p>
<div class="openxpki_command_list">
% foreach my $action (sort keys %actions)
% {
%   my $filename = lc($actions{$action});
%      $filename =~ s/i18n_openxpki_wf_[^_]*_//;
%   my $buttonname = 'I18N_OPENXPKI_WF_ACTION_' . uc($filename);
  <div class="openxpki_command_list_item">
    <& /service/open_form.mhtml, 'action' => $context->{menu}->get_root()."/service/workflow/activity/$filename.html" &>
% if ($filename eq 'approve_csr') {
    <& /lib/html/hidden.mhtml, 'name' => 'context_hash', 'value' => $context_hash &>
% }
    <& /lib/html/hidden.mhtml, 'name' => 'type', 'value' => $type &>
    <& /lib/html/hidden.mhtml, 'name' => 'id', 'value' => $id &>
    <& /lib/html/input.mhtml, 'type' => 'submit', 'value' => i18nGettext($buttonname) &>
    <& /service/close_form.mhtml &>
  </div>
% }
  <div class="openxpki_command_list_item">
    <& /service/open_form.mhtml, 'action' => $context->{menu}->get_root()."/service/workflow/get_workflow_instance_info.html" &>
    <& /lib/html/hidden.mhtml, 'name' => 'id', 'value' => $id &>
    <!-- the format is optional -->
    <& /lib/html/hidden.mhtml, 'name' => 'format', 'value' => 'png' &>
    <& /lib/html/input.mhtml, 'type' => 'submit', 'value' => i18nGettext ('I18N_OPENXPKI_HTML_GET_WORKFLOW_INSTANCE_INFO') &>
    <& /service/close_form.mhtml &>
  </div>
  <div class="openxpki_command_list_item">
    <input type="button" name="print" value="<% i18nGettext ('I18N_OPENXPKI_HTML_PRINT_BUTTON') %>" onClick="window.print()"/>
  </div>
</div>
</p>
</hr>
</div>
<div>
    <!-- id="overflow"> -->
    <!--
<p>
  <% i18nGettext('I18N_OPENXPKI_CLIENT_HTML_MASON_WORKFLOW_SHOW_INSTANCE_DESCRIPTION') %>
</p>
-->
<p>
%    ## I expect the following:
%    ## SERVICE_MSG => "COMMAND",
%    ## COMMAND     => $cmd,
%    ## PARAMS      => 
%    ## {
%    ##     WORKFLOW =>
%    ##     {
%    ##         ID      => $id,
%    ##         STATE   => $state,
%    ##         CONTEXT => { ... a simple hash ... }
%    ##     }
%    ## }
<div style="width: 65%">
<h2 style="color: #888888"><% i18nGettext('I18N_OPENXPKI_CLIENT_HTML_MASON_OVERVIEW') %></h2>
<table>
<!--
  <tr>
    <td><% i18nGettext('I18N_OPENXPKI_CLIENT_HTML_MASON_WORKFLOW_SERIAL') %></td>
    <td><% $msg->{PARAMS}->{WORKFLOW}->{ID} %></td>
  </tr>
  <tr>
    <td><% i18nGettext('I18N_OPENXPKI_CLIENT_HTML_MASON_WORKFLOW_STATE') %></td>
    <td><% i18nGettext($msg->{PARAMS}->{WORKFLOW}->{STATE}) %></td>
  </tr>
-->
  <tr>
    <td><% i18nGettext('I18N_OPENXPKI_CLIENT_HTML_MASON_WORKFLOW_TYPE') %></td>
    <td><% i18nGettext($msg->{PARAMS}->{WORKFLOW}->{TYPE}) %></td>
  </tr>
  <tr>
    <td><% i18nGettext('I18N_OPENXPKI_CLIENT_HTML_MASON_WORKFLOW_CREATOR') %></td>
    <td><!-- creator --><a href="<% $context->{menu}->get_root() %>/service/workflow/search_instances.html?<% $context->{menu}->get_link_params() %>;context_key=creator;context_value=<% $msg->{PARAMS}->{WORKFLOW}->{CONTEXT}->{creator} %>;context_key=;context_value="><% delete($msg->{PARAMS}->{WORKFLOW}->{CONTEXT}->{creator}) %></a></td>
  </tr>
  <tr>
    <td><% i18nGettext('I18N_OPENXPKI_CLIENT_HTML_MASON_WORKFLOW_LAST_UPDATE') %></td>
% my $last_update = $msg->{PARAMS}->{WORKFLOW}->{LAST_UPDATE};
% $last_update =~ s/T/ /;
% $last_update .= ' UTC';
    <td><% $last_update %></td>
  </tr>

% BASIC_DETAILS:
% foreach my $context_key (@{ $basic_details{$msg->{PARAMS}->{WORKFLOW}->{TYPE}} }) {
%     # skip if context entry does not exist - this may for example be the
%     # case with entries that are added later in the process, such as
%     # csr_serial in CSR workflows
%     next BASIC_DETAILS if (! exists $msg->{PARAMS}->{WORKFLOW}->{CONTEXT}->{$context_key});
  <tr>
    <td style="vertical-align:top;">
<!-- <% $context_key %> -->
% $m->comp('/lib/field_to_i18n.mhtml',
%          'field' => $context_key);
    </td>
    <td>
%   my $value = delete($msg->{PARAMS}->{WORKFLOW}->{CONTEXT}->{$context_key});
%   $value = encode('UTF-8', $value);
%   if ($untainted{$context_key}) {
       <% i18nGettext($value) | n  %>
%   }
%   else {
      <% i18nGettext($value) %>
%   }
    </td>
  </tr>
%   }

</table>
</div>
% if (! $details) {
<a href="<% $context->{menu}->get_root() %>/service/workflow/show_instance.html?<% $context->{menu}->get_link_params() %>;type=<% $msg->{PARAMS}->{WORKFLOW}->{TYPE} %>&id=<% $msg->{PARAMS}->{WORKFLOW}->{ID} %>&details=1"><% i18nGettext('I18N_OPENXPKI_CLIENT_HTML_MASON_WORKFLOW_SHOW_INSTANCE_DETAILS') %> ...</a>
% }
% else {
<h2 style="color: #888888"><% i18nGettext('I18N_OPENXPKI_CLIENT_HTML_MASON_OTHER_WORKFLOW_CONTEXT_KEYS') %> (<a href="<% $context->{menu}->get_root() %>/service/workflow/show_instance.html?<% $context->{menu}->get_link_params() %>;type=<% $msg->{PARAMS}->{WORKFLOW}->{TYPE} %>&id=<% $msg->{PARAMS}->{WORKFLOW}->{ID} %>&details=0" style="color: #888888"><% i18nGettext('I18N_OPENXPKI_CLIENT_HTML_MASON_HIDE') %></a>)</h2>
<table style="clear: right">
% foreach my $param (sort keys %{$msg->{PARAMS}->{WORKFLOW}->{CONTEXT}}) {
%#   next if ($param eq "approvals" and length $msg->{PARAMS}->{WORKFLOW}->{CONTEXT}->{$param} == 0);
%#   next if ($param eq "cert_profile_id");
%   next if ($param =~ m{ \A _ }xms); # ignore "volatile" context parameters
  <tr>
      <td style="vertical-align: top">
<!-- <% $param %> -->
% $m->comp('/lib/field_to_i18n.mhtml',
%          'field' => $param);
      </td>
    <td>
%   my $value = $msg->{PARAMS}->{WORKFLOW}->{CONTEXT}->{$param};
%   # someone is interpreting UTF8 data here, re-encode ...
%   # FIXME - find out why this is actually happening so that we
%   # can eliminate the source
%   $value = encode('UTF-8', $value);
%   if ($untainted{$param}) {
       <% i18nGettext($value) | n  %>
%   }
%   else {
      <% i18nGettext($value) %>
%   }
    </td>
  </tr>
%  }
</table>
% }
</p>
</div>
</div>
<%once>
    use Encode qw(encode decode);
    use HTML::Entities;
    use DateTime;
    use Data::Dumper;
    $Data::Dumper::Terse = 1;
    $Data::Dumper::Sortkeys = 1;
</%once>
<%init>
    if (not defined $msg or
        not ref $msg or
        not ref $msg eq "HASH")
    {
        if (! defined $type) {
            # type was not specified, get it from the server
            my $type_msg = $context->{client}->send_receive_command_msg(
                'get_workflow_type_for_id',
                {
                    'ID' => $id,
                },
            );
            $type = $type_msg->{PARAMS};
        }
        ## ok we have to get the info from the server
        $msg = $context->{client}->send_receive_command_msg
               (
                   "get_workflow_info",
                   {
                       "WORKFLOW" => $type,
                       "ID"       => $id
                   }
               );
    }
    else
    {
        ## sometimes we have only the message
        $id   = $msg->{PARAMS}->{WORKFLOW}->{ID}   if (not defined $id);
        $type = $msg->{PARAMS}->{WORKFLOW}->{TYPE} if (not defined $type);
    }
    # TODO - error handling!!!
    my %untainted = ();
    my $context_hash = '';
    if ($msg->{PARAMS}->{WORKFLOW}->{TYPE} eq 'I18N_OPENXPKI_WF_TYPE_CERTIFICATE_SIGNING_REQUEST') {
        $context_hash = $m->comp('/service/workflow/context_hash.mhtml',
            'context' => $msg->{PARAMS}->{WORKFLOW}->{CONTEXT},
        );
    }
    foreach my $param (keys %{ $msg->{PARAMS}->{WORKFLOW}->{CONTEXT} }) {    
        my $value = $msg->{PARAMS}->{WORKFLOW}->{CONTEXT}->{$param};
        if ($param eq 'csr_serial' && $value =~ m{\A \d+ \z}xms) {
            # transform a scalar csr_serial into a one-element array
            $value = OpenXPKI::Serialization::Simple->new()->serialize([ $value ]);
        }
           if ($value =~ /^(ARRAY|HASH)/)
           {
              ## serialized stuff
              my $ser = OpenXPKI::Serialization::Simple->new();
              my $ref = $ser->deserialize($value);
              if ($param eq "cert_info")
              {
                  ## simple hash
                  $value = '<table style="border:0px; border-spacing:0px">';
                  foreach my $key (sort keys %{$ref})
                  {
                      my $key_i18n = $m->scomp('/lib/field_to_i18n.mhtml', 
                          'field' => $key,
                      );
                      $ref->{$key} =~ encode_entities($ref->{$key});
                      $ref->{$key} =~ s{\n}{<br/>}xmsg;
                      $value .= '<tr><td style="vertical-align: top">' . $key_i18n . '</td><td>' . $ref->{$key} . '<td/></tr>';
                  }
                  $value .= '</table>';
                  $untainted{'cert_info'} = 1;
             }
             elsif ($param eq 'ticket') {
                $value = '<ul>';
                foreach my $key (sort keys %{$ref}) {
                     my $url_msg = $context->{client}->send_receive_command_msg(
                         "get_url_for_ticket",
                         {
                             "NOTIFIER" => $key,
                             "TICKET"   => $ref->{$key}
                         },
                     );
                     my $url = $url_msg->{PARAMS};
                     $value .= '<li><a href="' . $url . '">' . i18nGettext($key) . ': ' .  i18nGettext($ref->{$key}) . '</a>';
                  }
                $value .= '</ul>';
                $untainted{'ticket'} = 1;
            }
            elsif ($param eq "cert_subject_alt_name")
            {
                ## array of arrays
                $value = '';
                foreach my $pair (@{$ref})
                {
                    next if (not $pair); ## empty array
                    $value .= encode_entities($pair->[0]) . ': ' .  encode_entities($pair->[1]) . '<br/>';
                }
                $untainted{'cert_subject_alt_name'} = 1;
            }
            elsif ($param eq "approvals")
            {
                $value = '';
                if (ref $ref eq 'HASH') { # old style
                    ## hash: user to role
                    foreach my $user (sort keys %{$ref})
                    {
                        next if (not defined $user); ## empty hash - !???
                        $value .= encode_entities($user) . '&rarr;' . encode_entities($ref->{$user}) . '<br/>';
                    }
                }
                elsif (ref $ref eq 'ARRAY') { # new style for signatures
                   foreach my $approval (@{$ref}) {
                       if (defined $approval->{signature}) {
                           $value .= i18nGettext('I18N_OPENXPKI_SIGNED_APPROVAL') . ':<br/>';
                           $value .= encode_entities($approval->{signer_subject}) . '&rarr;' . encode_entities($approval->{signer_role}) . '<br/>';
                           $value .= i18nGettext('I18N_OPENXPKI_SIGNER_CERTIFICATE_IDENTIFIER') . ': ' . encode_entities($approval->{signer_identifier}) . '<br/>';
                           $value .= i18nGettext('I18N_OPENXPKI_SIGNED_TEXT') . ': ' . encode_entities($approval->{plaintext}) . '<br/>';
                           $value .= i18nGettext('I18N_OPENXPKI_SIGNATURE') . ': ' . encode_entities($approval->{signature}) . '<br/>';
                       }
                       $value .= encode_entities($approval->{session_user}) . '&rarr;' . encode_entities($approval->{session_role}) . '<br/><br/>================================================================<br/>';
                   }
                }
                $untainted{'approvals'} = 1; 
            }
            elsif ($param eq 'wf_children_instances') {
                $value = '';
                foreach my $instance (@{ $ref }) {
                    $value .= '<a href="' . $context->{menu}->get_root() . '/service/workflow/show_instance.html?' . $context->{menu}->get_link_params() . ';id=' . $instance->{ID} . '">' . encode_entities(i18nGettext($instance->{TYPE})) . ' #' . encode_entities($instance->{ID}) . '</a><br/>';
                }
                $untainted{'wf_children_instances'} = 1;
            }
            elsif ($param eq 'csr_serial') {
                $value = '';
                foreach my $serial (@{ $ref }) {
                    $value .= $serial . ' (<a href="' . $context->{menu}->get_root() . '/service/workflow/search_instances.html?' . $context->{menu}->get_link_params() . ';context_key=csr_serial;context_value=%25' . $serial . '%25;context_key=;context_value=">' .  i18nGettext('I18N_OPENXPKI_WORKFLOWS') . '</a>';
                    if ($msg->{PARAMS}->{WORKFLOW}->{STATE} eq 'SUCCESS') {
                        # there should be a certificate for this ID, too
                        $value .= ', <a href="' . $context->{menu}->get_root() . '/service/api/cert_list.html?' . $context->{menu}->get_link_params() . ';csr_serial=' . $serial . '">' . i18nGettext('I18N_OPENXPKI_CERTIFICATE') . '</a>';
                    }
                    $value .= ')<br/>';
                }
                $untainted{'csr_serial'} = 1;
            }
            else
            {
              my $dump = Dumper($ref);
              Encode::_utf8_on($dump);
              $value = $dump;
            }
        }
        elsif ($param eq 'spkac') {
            for (my $i = int(length ($value) / 64); $i > 0; $i--)
            {
                $value = substr ($value, 0, $i*64)."<br/>".substr($value,$i*64);
            }
            $value = '<div style="font-family: monospace">' . $value . '</div>';
            $untainted{'spkac'} = 1;
        }
        elsif ($param eq 'cert_subject') {
            # make certificate subject more breakable
            $value =~ s{,}{, }xmsg;
        }
        elsif ($param eq 'cert_identifier' || $param eq 'current_identifier') {
            $value = '<a href="' . $context->{menu}->get_root() . '/service/api/cert_info.html?' . $context->{menu}->get_link_params() . ';identifier=' . $value . '">' . encode_entities($value) . '</a>';
            $untainted{$param} = 1;
        }
        elsif ($param eq 'workflow_parent_id') {
            $value = '<a href="' . $context->{menu}->get_root() . '/service/workflow/show_instance.html?' . $context->{menu}->get_link_params() . ';id=' . $value . '">#' . encode_entities($value) . '</a>';
            $untainted{$param} = 1;
        }
        elsif ($param eq 'invalidity_time') {
            $value = DateTime->from_epoch( epoch => $value )->strftime('%Y-%m-%d %H:%M UTC');
        }
        elsif ($value =~ m{ \A -----BEGIN }xms || $param eq 'pkcs7_content') { # PKCS 10/7 or key
            $value = encode_entities($value);
            $value =~ s{\n}{<br/>}xmsg;
            $value = '<div style="font-family: monospace">' . $value . '</div>';
            $untainted{$param} = 1;
        }
        $msg->{PARAMS}->{WORKFLOW}->{CONTEXT}->{$param} = $value;
    }
    if (not defined $activities)
    {
        ## ok we have to get the info from the server
        ## FIXME: this fails if type and id are undefined, id can
        ## be extracted from $msg, but what about type?
        my $hmsg = $context->{client}->send_receive_command_msg
               (
                   "get_workflow_activities",
                   {
                       "WORKFLOW" => $type,
                       "ID"       => $id
                   }
               );
        $activities = $hmsg->{PARAMS};
    }

    my %actions = ();
    foreach my $key (@{$activities})
    {
        ## I hope that nobody will translate two actions with the same string
	## Here are some translation tags for CRR activities (for pot-file)
	## "I18N_OPENXPKI_WF_ACTION_APPROVE_CRR"
	## "I18N_OPENXPKI_WF_ACTION_CANCEL_CRR_APPROVAL"
	## "I18N_OPENXPKI_WF_ACTION_CHANGE_CRR_INVALIDITY_TIME"
	## "I18N_OPENXPKI_WF_ACTION_CHANGE_CRR_REASON"
	## "I18N_OPENXPKI_WF_ACTION_REJECT_CRR"
	## "I18N_OPENXPKI_WF_ACTION_REVOKE_CERTIFICATE"
        $actions{i18nGettext($key)} = $key;
    }
    my %basic_details = (
        'I18N_OPENXPKI_WF_TYPE_CERTIFICATE_SIGNING_REQUEST' =>
            [ qw( cert_subject cert_profile cert_role cert_subject_alt_name
                 cert_info csr_serial wf_children_instances) ],
        'I18N_OPENXPKI_WF_TYPE_CERTIFICATE_ISSUANCE' =>
            [ qw( cert_subject cert_profile cert_role cert_subject_alt_name
                 csr_serial workflow_parent_id ) ],
        'I18N_OPENXPKI_WF_TYPE_SMARTCARD_PERSONALIZATION' =>
            [ qw( csr_serial wf_children_instances ) ],
        'I18N_OPENXPKI_WF_TYPE_CERTIFICATE_REVOCATION_REQUEST' =>
            [ qw( cert_identifier reason_code invalidity_time comment ) ],
        'I18N_OPENXPKI_WF_TYPE_SCEP_REQUEST' =>
            [ qw( cert_subject cert_profile cert_role cert_subject_alt_name
                 current_identifier current_valid_certificates csr_serial wf_children_instances) ],
        'I18N_OPENXPKI_WF_TYPE_CERTIFICATE_LDAP_PUBLISHING' =>
            [ qw( workflow_parent_id ) ],
    );
</%init>
