<%attr>
  title => 'Demo Installations'
</%attr>

        <h2>Demo Installations</h2>

<p>
Until recently we had 2 demo installations of OpenCA,
which gave to everyone an opportunity to feel him(her)self in a role of 
ca-operator, ra-operator, regular requester-user. Those demos also provided numerous howto's.
</p><p>
On Mar 22, 2007 both Munich's demo and 
Moscow's demo were permanently put down. 
</p><p>
See you again at the OpenXPKI demo installation,
which will be soon available from the main site of OpenXPKI.
</p>
<!--
        <p>Several people and organizations have contributed a working live demo of OpenCA.<br/>
	Below you find some Links to these demos, if your selected demo seems to be unfunctional, please contact the responsible person who provides this service first. If you dont get response or the link is dead please send a mail to openca-users list.</p>	
<ul>
<li>
  <a href="<& /lib/url.mas, 
	   host => 'demo.openca.info',
	   path => '/' &>">
    demo.openca.info</a>
     Demo installation of OpenCA stable release 0.9.2.1 located in Munich.<br/>
This has no UTF-8 support and is a good choice for those who are happy with just trying the basics.
</li>

<li>
  <a href="<& /lib/url.mas, 
	   host => 'demo2.openca.info',
	   path => '/' &>">
    demo2.openca.info</a>
     Demo installation of OpenCA stable release 0.9.2.5 located in Moscow.<br/>
This has full UTF-8 support for fields of requests and certificates in
<em>any living human language</em>.
Anyone can request and issue a cert in his own language here, or even fabricate multi-lingual
request and certificate.
As for the user interface, you can choose from
English, French, German, Greek, Italian, Japanese, Polish, Russian, Slovenian, and Spanish
languages.
Provided are details of installation, configuration, enabling UTF-8 in databases,
along with full set of configuration files.
</li>
</ul>

-->
