<%attr>
  title => 'Legacy'
</%attr>

        <h2>OpenCA Legacy Support</h2>
	<p>
	  The OpenXPKI team supports users of OpenCA 0.9.2 releases.
	</p>
	<h3>Mailing List</h3>
	<p>
	  The main source for support is the openca-users mailing list at SF.
          You can subscribe and search the archives through SF Mailman on
	  <a href="<& /lib/url.mas,
          path => '/lists/listinfo/openca-users',
	  host => 'lists.sourceforge.net' &>">
	  http://lists.sourceforge.net/lists/listinfo/openca-users</a>. 
          Note that you must subscribe yourself to the list before posting.
	</p>
	<p>There is also a  <a href="<& /lib/url.mas,
          path => '/lists/listinfo/openca-devel',
          host => 'lists.sourceforge.net' &>">
          http://lists.sourceforge.net/lists/listinfo/openca-devel</a>.
	  developer list which we use mainly for bugfixing 
	  issues. The OpenXPKI team does future development under the new 
 	  infrastructure.
	</p>
	<h3>Documentation</h3>
	<p>
	  There are some pieces of documentation on OpenCA - most of them is
          unfortunately not 100% up-to-date but should help you on setting up
	  and running the system. You find them in the <a href="<& /lib/url.mas,
          path => '/docs/index.html' &>"> Documentation Sub Menu</a>.
	</p>
          You can use two different ways to download software from
          OpenCA. The first option is the file release system from
          Sourceforge. You have only to go to OpenCA's pages on
          Sourceforge.net. There you find a link <tt>Files</tt> where
          all downloadable files are listed. The second option is
          OpenCA's own ftp service. Please use one of the mirrors close
          to you to reduce the load on the lines of ftp.openca.org.
          This server has only a 2 MBit line today.
        </p>
        <ul>
          <li><a href="http://prdownloads.sourceforge.net/openca/openca-0.9.2.5.tar.gz?download">
            0.9.2.5 (recommended as the most stable and consistent)
          </a></li>
          <li><a href="http://prdownloads.sourceforge.net/openca/openca-0.9.2.4.tar.gz?download">
            0.9.2.4 (introduces UTF-8 support)
          </a></li>
          <li>
            0.9.2.3 (revoked because buggy - database layer is broken !)
          </li>
          <li><a href="http://prdownloads.sourceforge.net/openca/openca-0.9.2.2.tar.gz?download">
            0.9.2.2
          </a></li>
          <li><a href="http://prdownloads.sourceforge.net/openca/openca-0.9.2.1.tar.gz?download">
            0.9.2.1
          </a></li>
          <li><a href="http://prdownloads.sourceforge.net/openca/openca-0.9.2.0.tar.gz?download">
            0.9.2.0
          </a></li>
        </ul>
        <h3>OpenCA 0.9.1</h3>
        <ul>
          <li><a href="http://prdownloads.sourceforge.net/openca/openca-0.9.1-10.tar.gz?download">
            0.9.1-10
          </a></li>
        </ul>

        <h2>Sub Projects</h2>
        <p>
          Usually the most people only notice OpenCA as a complete
          trustcenter system but OpenCA contains three C programs which
          can be used independently.
        </p><p>
          All three programs are included in our trustcenter software
          but all of them have a complete own autoconf/automake system.
          You can extract them from our releases and use them
          seperately. They have the same license like OpenCA.
        </p>
        <p>
          If you need a seperate release of one of these tools then
          please contact us via the OpenCA users list. We don't publish
          seperate releases today to reduce the management overhead.
          This is a volunteer project without a commercial company in
          the background and so we try to push the most human power into
          the software and documentation.
        </p>
        <h3>OpenCA SV</h3>
        <p>
          This small tool can sign, verify, encrypt and decrypt any
          (binary) data. This include signatures from HTML form made
          with Internet Explorer or Mozilla. You can use this tool for
          the encryption of your backups too. The syntax is exactly the
          same like from OpenSSL. You can find the tool in our sources
          at <tt>src/openca-sv</tt>.
         </p>
        <h3>OCSPD</h3>
        <p>
          The OCSPD implements an OCSP service which can use LDAP as
          primary source of informations. This allows you to establish
          an OCSP service for every other PKI platform even if this
          platform does not support OCSP or requires extra licenses for
          OCSP daemons. You can find the daemon in our sources at
          <tt>src/ocspd</tt>.
        </p>
        <h3>SCEP</h3>
        <p>
          This tool can be used to create or extract SCEP messages. It
          uses a syntax like OpenSSL and is used by OpenCA's scripts
          to provide the SCEP functions operation and getcert. You can
           find the tool in our sources at <tt>src/scep</tt>.
        </p>
