<%attr>
  title => 'Legacy - Archived News'
</%attr>

        <h2>Legacy - News</h2>
        <dl>
          <dt>2006-Jan-05</dt>
          <dd>OpenCA 0.9.2.5 was released </dd>
          <dt>2005-Oct-17 to 2005-Oct-18</dt>
          <dd><a href="../docs/ws20051018.html">2. OpenCA Workshop</a></dd>
          <dt>2005-Aug-12</dt>
          <dd>OpenCA 0.9.2.4 was released (Bugfix for 0.9.2.3)</dd>
          <dt>2005-Aug-10</dt>
          <dd>OpenCA 0.9.2.3 contains a severe bug in the database backend - dont use it ! We will provide a fixed version soon!</dd>
          <dt>2005-Aug-08</dt>
          <dd>OpenCA is NOT affected by CAN-2005-1127</dd>
          <dt>2005-Aug-05</dt>
          <dd>OpenCA 0.9.2.3 was released</dd>
          <dt>2005-Mar-07</dt>
          <dd>OpenCA 0.9.2.2 was released</dd>
          <dt>2005-Feb-22</dt>
          <dd><a href="../docs/dfn_bt_2005_02_22.pdf">Core Design</a>
            presented on a meeting of Germany`s National Research and Education Network</dd>
          <dt>2004-Oct-28</dt>
          <dd>OpenCA 0.9.2.1 was released</dd>
          <dt>2004-Oct-11 to 2004-Oct-12</dt>
          <dd><a href="../docs/ws20041012.html">1. OpenCA Workshop</a></dd>
          <dt>2004-Oct-11</dt>
          <dd>OpenCA 0.9.2.0 was released</dd>
          <dt>2004-Sep-24</dt>
          <dd>Branch openca_0_9_2 was created</dd>
          <dt>2004-Sep-23</dt>
          <dd>Updated security advisory 2004-0787 was released</dd>
          <dt>2004-Sep-07</dt>
          <dd>OpenCA 0.9.1.10 was released because of a bug in CAN-2004-0787</dd>
          <dd>OpenCA snapshot was released because of a bug in CAN-2004-0787</dd>
          <dt>2004-Sep-06</dt>
          <dd>New security advisory CAN-2004-0787 was released</dd>
          <dd>OpenCA 0.9.1.9 was released</dd>
          <dd>OpenCA snapshot was released</dd>
        </dl>
        <h2>Security Advisories</h2>
        <p>Please use the menu button to go to the page with our
          security advisories. They are placed on an own page because
          we can publish there fixed advisories too.
        </p>
        <h2>Releases</h2>
        <dl>
          <dt>0.9.2</dt>
          <dd><a href="http://prdownloads.sourceforge.net/openca/openca-0.9.2.4.tar.gz?download">openca-0.9.2.4
.tar.gz</a></dd>
          <dd>openca-0.9.2.3.tar.gz (revoke due to a severe bug!)</dd>
          <dd><a href="http://prdownloads.sourceforge.net/openca/openca-0.9.2.2.tar.gz?download">openca-0.9.2.2.tar.gz</a></dd>
          <dd><a href="http://prdownloads.sourceforge.net/openca/openca-0.9.2.1.tar.gz?download">openca-0.9.2.1.tar.gz</a></dd>
          <dd><a href="http://prdownloads.sourceforge.net/openca/openca-0.9.2.0.tar.gz?download">openca-0.9.2.0.tar.gz</a></dd>
          <dt>0.9.1</dt>
          <dd>openca-0.9.1-10.tar.gz</dd>
        </dl>
