<%args>
  $identifier => undef
</%args>
<h1>
  <% i18nGettext('I18N_OPENXPKI_CLIENT_HTML_MASON_API_CERT_FULL_INFO_TITLE') %>
</h1>
<p>
  <% i18nGettext('I18N_OPENXPKI_CLIENT_HTML_MASON_API_CERT_FULL_INFO_DESCRIPTION') %>
</p>
% if ($status eq 'REVOKED') {
<p>
<b><font color="#FF0000"><% i18nGettext('I18N_OPENXPKI_CLIENT_HTML_MASON_API_CERT_INFO_REVOKED_DESC') %></font><b>
</p>
% }
% elsif ($status eq 'SUSPENDED') {
<p>
<b><font color="#FF0000"><% i18nGettext('I18N_OPENXPKI_CLIENT_HTML_MASON_API_CERT_INFO_SUSPENDED_DESC') %></font><b>
</p>
% }
% elsif ($status eq 'CRL_ISSUANCE_PENDING') {
<p>
<b><font color="#FF0000"><% i18nGettext('I18N_OPENXPKI_CLIENT_HTML_MASON_API_CERT_INFO_CRL_ISSUANCE_PENDING_DESC') %></font><b>
</p>
% }
<table>
  <tr>
    <th><% i18nGettext('I18N_OPENXPKI_CLIENT_HTML_MASON_TABLE_HEAD_NAME') %></th>
    <th><% i18nGettext('I18N_OPENXPKI_CLIENT_HTML_MASON_TABLE_HEAD_VALUE') %></th>
  </tr>
  <tr>
    <td><% i18nGettext('I18N_OPENXPKI_CERT_SUBJECT') %></td>
    <td><% delete $params->{SUBJECT} %></td>
  </tr>
%    foreach my $san (@subject_alt_names) {
     <tr>
       <td><% i18nGettext('I18N_OPENXPKI_CLIENT_HTML_MASON_WORKFLOW_CSR_CERT_SUBJECT_ALT_NAME') %></td>
       <td><% $san %></td>
     </tr>
%    }
  <tr>
    <td><% i18nGettext('I18N_OPENXPKI_CERT_SERIAL') %></td>
    <td><% $serial %></td>
  </tr>
  <tr>
    <td><% i18nGettext('I18N_OPENXPKI_CERT_FINGERPRINT') %></td>
    <td><% delete $params->{FINGERPRINT} %></td>
  </tr>
% if ($subject_key_identifier) {
  <tr>
    <td><% i18nGettext('I18N_OPENXPKI_CERT_SUBJECT_KEY_IDENTIFIER') %></td>
    <td><% $subject_key_identifier %></td>
  </tr>
% }
  <tr>
    <td><% i18nGettext('I18N_OPENXPKI_CERT_NOTBEFORE') %></td>
    <td><% join " ", split "T", delete $params->{NOTBEFORE} %> UTC
% if ($not_yet_valid) {
<b>(<% i18nGettext('I18N_OPENXPKI_CERT_NOT_YET_VALID') %>)</b>
% }
    </td>
  </tr>
  <tr>
    <td><% i18nGettext('I18N_OPENXPKI_CERT_NOTAFTER') %></td>
    <td><% join " ", split "T", delete $params->{NOTAFTER} %> UTC
% if ($expired) {
<b>(<% i18nGettext('I18N_OPENXPKI_CERT_EXPIRED') %>)</b>
    </td>
% }
  </tr>
  <tr>
    <td><% i18nGettext('I18N_OPENXPKI_CERT_ISSUER') %></td>
    <td>

% if (! $issuer_identifier) {
% # issuer identifier is not defined due to:
%   if (exists $params->{IS_CA} and $params->{IS_CA}) {
%   # 1. self-signed CA certificate, show subject in the 'issuer' field
<% $subject %>
%   } else {
%   # 2. any other reason, show 'information is not available' message
<% i18nGettext('I18N_OPENXPKI_NOT_AVAILABLE') %>
%   }
% } else {
% # issuer identifier is defined
      <& /lib/html/a.mhtml,
         target => 'cert_info.html',
         label  => $issuer,
         params => [["identifier",   $issuer_identifier]] &>
% }
    </td>
  </tr>
% if (defined $keyusage and length $keyusage) {
  <tr>
    <td><% i18nGettext('I18N_OPENXPKI_CERT_KEYUSAGE') %></td>
    <td><% $keyusage %></td>
  </tr>
% }
% if (defined $extended_keyusage and length $extended_keyusage) {
  <tr>
    <td><% i18nGettext('I18N_OPENXPKI_CERT_EXTENDED_KEYUSAGE') %></td>
    <td><% $extended_keyusage %></td>
  </tr>
% }
% if (scalar @cdps) {
  <tr>
      <td><% i18nGettext('I18N_OPENXPKI_CERT_CDPS') %></td>
      <td><% $cdps[0] %></td>
  </tr>
%   for (my $i = 1; $i < scalar @cdps; $i++) {
  <tr>
      <td></td>
      <td><% $cdps[$i] %></td>
  </tr>
%   }
% }
% if (scalar @aia) {
  <tr>
      <td><% i18nGettext('I18N_OPENXPKI_CERT_AIA') %></td>
      <td><% $aia[0] %></td>
  </tr>
%   for (my $i = 1; $i < scalar @aia; $i++) {
  <tr>
      <td></td>
      <td><% $aia[$i] %></td>
  </tr>
%   }
% }
% foreach my $notice (@user_notice) {
    <tr>
        <td><% i18nGettext('I18N_OPENXPKI_CERT_USER_NOTICE') %></td>
        <td><% $notice %></td>
    </tr>
% }
% foreach my $policy (@policies) {
    <tr>
        <td><% i18nGettext('I18N_OPENXPKI_CERT_POLICY') %></td>
        <td><a href="http://www.alvestrand.no/cgi-bin/hta/oidwordsearch?text=<% $policy %>"><% $policy %></a></td>
    </tr>
% }
  <tr>
    <td><% i18nGettext('I18N_OPENXPKI_CSR_SERIAL') %></td>
    <td><% $csr_serial %></td>
  </tr>
  <tr>
    <td><% i18nGettext('I18N_OPENXPKI_CERT_IS_CA') %></td>
    <td>
%     if (delete $params->{IS_CA}) {
        <% i18nGettext('I18N_OPENXPKI_YES') %>
%     } else {
        <% i18nGettext('I18N_OPENXPKI_NO') %>
%     }
    </td>
  </tr>
  <tr>
    <td><% i18nGettext('I18N_OPENXPKI_CERT_KEY_ALGORITHM') %></td>
    <td>
      <% $algo %>
    </td>
  </tr>
% if ($algo eq 'RSA') {
  <tr>
    <td><% i18nGettext('I18N_OPENXPKI_CERT_KEY_SIZE') %></td>
    <td><% delete $params->{KEYSIZE} %></td>
  </tr>
  <tr>
    <td><% i18nGettext('I18N_OPENXPKI_CERT_KEY_EXPONENT') %></td>
    <td><% delete $params->{EXPONENT} %></td>
  </tr>
% }
% if ($pubkey) {
  <tr>
    <td><% i18nGettext('I18N_OPENXPKI_CERT_PUBLIC_KEY') %></td>
    <td><div style="font-family: monospace"><% $pubkey | n %></div></td>
  </tr>
% }
<!--
  <tr>
    <td>... the forgotten things ...</td>
    <td><pre><% Dumper($params) %></pre></td>
  </tr>
-->
</table>
<%init>
  ## first we need the issuer identifier and the CSR serial
  my $msg  = $context->{client}->send_receive_command_msg (
                  "search_cert",
                  {'IDENTIFIER' => $identifier});
  my $issuer_identifier = $msg->{PARAMS}->[0]->{ISSUER_IDENTIFIER};
  my $csr_serial        = $msg->{PARAMS}->[0]->{CSR_SERIAL};
     $csr_serial        = i18nGettext('I18N_OPENXPKI_NOT_AVAILABLE')
         if (not defined $csr_serial or not length $csr_serial);

  ## second we download the certificate itself
  $msg  = $context->{client}->send_receive_command_msg (
                  "get_cert",
                  {'IDENTIFIER' => $identifier});

  my $params      = $msg->{PARAMS}->{BODY};
  my $status      = $msg->{PARAMS}->{STATUS};
  
  my $keyusage;
  my $extended_keyusage;
  if (ref $params->{OPENSSL_EXTENSIONS}->{'X509v3 Key Usage'} eq 'ARRAY') {
      $keyusage = join q{,}, @{ $params->{OPENSSL_EXTENSIONS}->{'X509v3 Key Usage'} };
  }
  if (ref $params->{OPENSSL_EXTENSIONS}->{'X509v3 Extended Key Usage'} eq 'ARRAY') {
      $extended_keyusage = join q{,}, @{ $params->{OPENSSL_EXTENSIONS}->{'X509v3 Extended Key Usage'} };
  }

  my @subject_alt_names = ();
  if (ref $params->{OPENSSL_EXTENSIONS}->{'X509v3 Subject Alternative Name'} eq 'ARRAY') {
      @subject_alt_names = split q{, }, $params->{OPENSSL_EXTENSIONS}->{'X509v3 Subject Alternative Name'}->[0];
      foreach my $san (@subject_alt_names) {
        $san =~ s/:/: /;
      }
  } 

  my $subject_key_identifier;
  if (ref $params->{OPENSSL_EXTENSIONS}->{'X509v3 Subject Key Identifier'} eq 'ARRAY') {
      $subject_key_identifier = $params->{OPENSSL_EXTENSIONS}->{'X509v3 Subject Key Identifier'}->[0];
  }


  my @cdps = ();
  if (ref $params->{OPENSSL_EXTENSIONS}->{'X509v3 CRL Distribution Points'} eq 'ARRAY') {
      @cdps = @{ $params->{OPENSSL_EXTENSIONS}->{'X509v3 CRL Distribution Points'} };
      foreach my $cdp (@cdps) {
        $cdp =~ s{\A URI:}{}xms;
      }
  }

  my @aia = ();
  if (ref $params->{OPENSSL_EXTENSIONS}->{'Authority Information Access'} eq 'ARRAY') {
      @aia = @{ $params->{OPENSSL_EXTENSIONS}->{'Authority Information Access'} };
      foreach my $aia (@aia) {
        $aia =~ s{URI:}{}xms;
      }
  }

  my @policies = ();
  if (ref $params->{OPENSSL_EXTENSIONS}->{'X509v3 Certificate Policies'} eq 'ARRAY') {
      @policies = @{ $params->{OPENSSL_EXTENSIONS}->{'X509v3 Certificate Policies'} };
      foreach my $policy (@policies) {
          $policy =~ s/Policy: //;
      }
  }

  my @user_notice = ();
  if (ref $params->{OPENSSL_EXTENSIONS}->{'User Notice'} eq 'ARRAY') {
      @user_notice = @{ $params->{OPENSSL_EXTENSIONS}->{'User Notice'} };
      foreach my $notice (@user_notice) {
        $notice =~ s{\A Explicit\ Text:\ }{}xms;
      }
  }
  my ($sec, $min, $hour, $mday, $mon, $year, $wday, $yday, $isdst) = gmtime(time);
  $year += 1900;
  $mon++;
  my $now = sprintf("%04d-%02d-%02dT%02d:%02d%02d", $year, $mon, $mday, $hour, $min, $sec);
  my $not_yet_valid;
  my $expired;
  if ($now lt $params->{NOTBEFORE}) {
    $not_yet_valid = 1;
  }
  if ($now gt $params->{NOTAFTER}) {
    $expired = 1;
  }
  my $serial = $params->{SERIAL};
  $serial .= ' (0x' . sprintf("%X", $serial) . ')';
  my $subject = $params->{SUBJECT};
  $subject =~ s/,/, /g;
  my $issuer = $params->{ISSUER};
  $issuer =~ s/,/, /g;
  my $algo = $params->{PUBKEY_ALGORITHM};
  if ($algo eq 'rsaEncryption') {
    $algo = 'RSA';
  } 
  if ($algo eq 'dsaEncryption') {
    $algo = 'DSA';
  } 
  my $pubkey = $params->{PUBKEY};
  $pubkey =~ s/\n\s+/\n/g;
  $pubkey =~ s/\n/<br\/>/g;
</%init>
<%once>
    use Data::Dumper;
</%once>
