<%attr>
  title => 'Documentation'
</%attr>

        <h2>Documentation</h2>
        <h3>Manual</h3>
        <p>
          We started to write some real docs. The manual will be written
          in docbook format. You can read it online or download an read it
          locally. The following version are available:
        </p>
        <ul>
          <li><a href="manual/openxpki-manual.html">One page HTML version</a></li>
          <li><a href="manual/chunked/index.html">Chunked HTML version</a></li>
          <li><a href="manual/openxpki-manual.pdf">PDF version</a></li>
        </ul>
        <h3>Workshops</h3>
        <p>
	  In this section you can find slides from previous workshops
	  regarding development and use-cases of OpenCA 0.9.2/OpenXPKI.
          On 2004-10-12 the first OpenCA workshop was held in Munich.
          We plan to continue organizing such workshops and will
          publish the slides and other information that may be valuable for a 
          larger audience here.
        </p>
        <ul>
          <li><a href="ws20041012.html">Munich, 2004-10-12</a></li>
          <li><a href="dfn_bt_2005_02_22.pdf">Core Design Presentation from 2005-02-22</a></li>
          <li><a href="ws20051018.html">Munich, 2005-10-18</a></li>
        </ul>
	<h3>Development documentation</h3>
        <p>
          This area is used to document development ideas and
          design information for developers. Please note that
          this is no source code documentation, it is more or less
          a scratch pad.
        </p>
        <ul>
          <li><a href="OpenXPKI-Architecture-Overview.pdf">Architecture White Paper</a>
                  for the OpenXPKI project. Available in a PDF form.</li>
          <li><a href="user_interface.html">User Interface Design</a></li>
          <li><a href="git-howto.html">Git Collaboration Howto</a></li>
          <!-- <li><a href="git-example.html">Git Collaboration Example</a></li> -->
          <li><a href="naming_conventions.html">Naming conventions</a></li>
          <li><a href="crypto-plug.html">Cryptography abstraction concept</a> and 
                  high level language for cryptographic needs of PKI at server side.</li>
          <li><a href="gost-howto.html">Working with russian (GOST) cryptography</a>. 
                  An example of using OpenXPKI with alternative cryptography.</li>
          <li><a href="browsers.html">Browser interaction with the OpenXPKI server</a>. 
                  Cryptography related features specific to different browsers.</li>
          <li><a href="workflow-graphs.html">Set of OpenXPKI workflows 
	                                  graphical representation</a></li>
          <li><a href="openxpki-ldap.pdf">Problems of LDAP workflow</a>
	        (draft paper). Available in a PDF form.</li>

        </ul>

        <h3>Packages/ports of OpenXPKI</h3>                                                                                 
        <p>OpenXPKI team maintains packages/ports to facilitate out-of-the-box
          download and install of the OpenXPKI suite for a number of platforms:
        </p>
        <ul>
          <li><a href="<& /lib/url.mas,
                       path => '/download/debian.html' &>">
              packages for Debian Linux</a></li>
          <li><a href="<& /lib/url.mas,
                       path => '/download/freebsd.html' &>">
              ports for FreeBSD</a></li>
          <li><a href="<& /lib/url.mas,
                       path => '/download/suse.html' &>">
              packages for Suse Linux</a></li>
        </ul>

	<h3>OpenCA documentation</h3>
	<p>
	  If you are searching for OpenCA documentation please visit the
          <a href="<& /lib/url.mas, path => '/legacy/docs.html' &>">legacy section</a>.<br/>
	</p>
