/*
 * (c) 2005-2006 OpenXPKI
 *
 * the base of this file was the style1.css from the OpenSC project merged
 * together with the original OpenCA style file
 */

/*******************
 * element styling *
 *******************/

html {
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background-color: white;
    color: black;
    font-family: Arial, Helvetica;
    font-size: 85%;
    font-weight: normal;
}

.noborder {
	border: none;
	padding: 0px;
}

h1, h2 {
    font-family: Arial, sans-serif;
    font-weight: normal;
    color: black;
}

h3 {
    font-family: Arial, sans-serif;
    font-weight: normal;
    color: black;
}

a {
    font-style:  italic;
    color:       blue;
}

a:link {
	text-decoration: none; 
}

a:visited {
	text-decoration: none; 
}

a:hover {
    text-decoration: underline; 
}

.icenter {
	text-align: center;
}

img {
	border: none;
	padding: 0px;
}

dt {
    font-weight: bold;
}

pre {
    /*font-family: monospace,teletype,Courier-New,Courier;*/
    font-family: Courier;
    background-color: #dddddd;
    padding: 1em;
    margin-right: 1em;
}

/********************************************
 * General organization of an OpenXPKI page *
 *                                          *
 * page ::= header + navi + content + footer*
 *                                          *
 ********************************************/

/****************
 *     page     *
 ****************/

#page {
  /* background-color: blue; */
  position:   relative;
  min-height: 100%;
  width:      100%;
  z-index:    0;
}

#header {
    /* background-color: darkgreen; */
    top:0px;
    left:0px;
    width: 100%;
    z-index: 10;
    border:        0px solid black;
    border-bottom: 1px solid black;
    padding:       0pt;
    text-align:    right;
}

#navi {
  /* background-color: brown; */
  position: relative;
  left:0px;
  width: 14em;
  float: left;
  z-index: 6;
}

#content {
  /* background-color: yellow; */
  position: relative;
  padding-top: 0em;
  padding-bottom: 2em;
  padding-left: 15em;
  z-index: 5;
}

#footer {
  /* background-color: lightgreen; */
  position:    absolute;
  bottom:      0px;
  left:        0px;
  width:       100%;
  z-index:     10;
  padding-top: 1em;
  font-size:   x-small;
  text-align:  right;
}

/* *html will only be interpreted by IE */

*html #footer {
  display: none;
}

/*********************
 *    navi stuff     *
 *********************/

div.menu { 
    position: absolute;
    top:      1em;
    right:    1em;

    background: #dddddd;
    border: 0px solid black;
    padding: 3pt;
    text-align: center;
}

div.menu a {
    /* color: white; */
    /* color: #3060c0; */
    color: black;
}

div.menu a:hover {
    text-decoration: none; 
    color: white;
    background: #0088ff;
}

div.menu h2 {
    border: 1px solid black;
    /* background: #3060c0; */
    /* background: #ff8000; */
    background: #ffaa33;
    text-align: center;
    padding: 1pt;
    margin: 0pt;
}

div.menu h2:hover {
    background: #0088ff;
}

div.menu_item {
    margin: 0.20em 0.5em 0.20em 0.1em;
    padding: 0.38em 1em;
    text-align: left;
    background: #ffaa33;
    border: 1px solid white;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    color: white;
    list-style: none;
}

div.menu_item:hover {
    background: #0088ff;
}

div.menu_item a {
    font-weight: normal;
}

div.menu_sub_item {
    padding: 0.38em 1em;
    text-indent: 0;
    text-align: right;
    list-style: none;
}

div.menu_sub_item:hover {
    background: #0088ff;
}


div.menu_sub_item a {
    font-weight: normal;
}

div.w3c {
    /* position: absolute; */
    bottom:   1em;
    right:    1em;

    border: 0px solid #3060c0;
}

/**********************
 *    info stuff      *
 **********************/

.sourcecode {
    font-weight: bold;
}

